html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {

    background-color: #EAEAEA;
    margin: 0;
    padding: 0;
}

/* used with Google Prettify -- don't change */
pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 { list-style-type: decimal !important }

footer,
footer *{
    margin: 0;
    padding: 0;
}

footer{
    background-color: #DDD;
    width: 100%;
    font-family: sans-serif;
    position: relative;
}


div#credits{
    float: left;
    width: 70%;
}

div#credits ul{
    margin-left: 3em;
}

div#credits a:link,
div#credits a:visited,
div#credits a:hover,
div#credits a:active{
    text-decoration: none;
    font-weight: bold;
    color: #6b6969;
}

div#validators{
    float: left;
    width: 30%;
    text-align: center;
}

div#credits,
div#validators{
    margin-bottom: 3em;
}


footer h1{
    color: #4f4f4f;
    font-size: 16px;
    font-weight: bold;
    margin: 1em;
}

footer hr{
    color: #AAA;
    box-shadow: 2px 2px 3px #999;
}
