html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, html {
    margin: 0;
    padding: 0;
    color: #000;
    background: #EAEAEA;
}

#wrap {
    position: relative;
    margin: 0 auto;
    margin-top: 3.5em;
    min-width: 480px;
    max-width: 980px;
    width: 90%;
}

header {
    position: fixed;
    background: #FFFFFF;
    vertical-align: middle;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    z-index: 500;
}

header {
    border-bottom: 2px solid #CCCCCC;
    height: 3em;
    top: 0px;
    padding-top: .75em;
    padding-bottom: .75em;
}


article {
    padding: 1em;
    border-radius: 5px;
    border: 1px #999999 solid;
    background: #FFFFFF;
}

header h1 {
    margin: 0;
    text-align: center;
    padding-bottom: .75em;
    height: 1.5em;
    font-size: 1.5em;
}

h1 small {
    color: #8B0304;
}

h2 {
    margin: 0 0 1em;
}

#main, #comments {
    float: left;
    width: 65%;
    padding: 1em;
}

#sidebar, #extrainfo {
    float: right;
    width: 30%;
    margin-bottom: 1em;
}

a:link {
    color: #8B0304;
}

a:visited {
    color: #8B4603;
}

a:hover {
    color: #AB494A;
}

footer {
    background: #FFFFFF;
    clear: both;
    border-top: 2px solid #CCCCCC;
    height: 3em;
    vertical-align: middle;
    min-width: 100%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

footer p {
    margin: 0;
    position: relative;
    float: left;
}

footer .validate {
    float: right;
}

label {
    position: fixed;
    top: 10px;
}

* html #footer {
    height:1px;
}

@media screen and (max-width: 480px) {
    
    header h1 {
        font-size: 1em;
    }
    
    footer p {
        font-size: .75em;
    }
    
    #wrap {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        font-size: 75%;
    }
    
    article {
        width: 100%;
        float: left;
        border-radius: 0px;
    }
    
    #sidebar, #extrainfo, #main {
        width: 100%;
        float: left;
        margin-bottom: 0;
        border-bottom: 1px solid #DDDDDD;
    }
    
    label {
        font-size: .75em;
    }
}


/* used with Google Prettify -- don't change */
pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 { list-style-type: decimal !important }
